<html>
<div sytle="border: 3px solid red;">
<div sytle="border: 3px solid white;">

<p>Dear <%= obj['employee']['name']%>, </p>
<p>Based on your salary structure and current investment/tax saving plans; we suggest a few additional tax saving schemes for you</p>
<div style="text-align:left;">

</div>
<br />
<p>
In case you have any concerns, please raise them. 
</p>
<br/>
Regards,
<br/ >
<b>Thundering Herd Admin</b>
</div></div>
</html>