<html>
<div sytle="border: 3px solid red;">
<div sytle="border: 3px solid white;">

<p>Dear <%= obj['employee']['name']%>, </p>
<p>This is your payslip for the month <%= obj['month']%></p>
<div style="text-align:left;">

</div>
<br />
<p>
In case you have any concerns, please raise them. 
</p>
<br/>
Regards,
<br/ >
<b>Thundering Herd Admin</b>
</div></div>
</html>